var delivery = {
  deliveried: function(deliveryList) {
    var arr = [];
    deliveryList.forEach(function(item) {
      if(item.statusStr==='已发货') {
        arr.push(item);
      }
    })
    return arr;
  },
  undelivery: function(deliveryList) {
    var arr = [];
    deliveryList.forEach(function(item) {
      if(item.statusStr==='待发货') {
        arr.push(item);
      }
    })
    return arr;
  }
}

var includes = function(arr,ele) {
  return arr.indexOf(ele) !== -1;
}

// var reverse = function(arr) {
//   var array = [];
//   for(var i = arr.length-1; i>=0; i--) {
//     array.push(arr[i]);
//   }
//   return array;
// }
  
module.exports = {
  deliveried: delivery.deliveried,
  undelivery: delivery.undelivery,
  includes: includes,
  // reverse: reverse
}