/* pages/message/message.wxss */
page {
  background-color: #142941;
}
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140rpx;
    .empty-img {
      width: 360rpx;
      height: 360rpx;
    }
    .empty-text {
      margin-top: 32rpx;
      font-size: 24rpx;
      font-weight: 500;
      color: #BFC4CC;
    }
}
